@keyframes spinning {
    from {
      -ms-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -webkit-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    to {
      -ms-transform: rotate(360deg);
      -moz-transform: rotate(360deg);
      -webkit-transform: rotate(360deg);
      -o-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }


#header {
    position: static;
    display: flex;
    align-items: center;
    text-wrap: nowrap;
    width: 100%;
    height: auto;
    border-bottom: 1px solid #d4d4d4;
}

#header-dropdown {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 3.5%;
    width: 3.5%;
    padding-left: 1rem;
    font-size: 1.5rem;
    cursor: pointer;

    :hover {
        -webkit-animation: spinning 2.5s linear infinite;
        -moz-animation: spinning 2.5s linear infinite;
        -ms-animation: spinning 2.5s linear infinite;
        -o-animation: spinning 2.5s linear infinite;
        animation: spinning 2.5s linear infinite;
    }

}

#header-title {
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: start;

    h1 {
        padding: 0.3rem 1.1rem 0.3rem 0;

        span {
            color: transparent;
            -webkit-text-stroke-width: 1px;
            -webkit-text-stroke-color: #d4d4d4;
        }
    }
}

#header-login {
    display: flex;
    align-items: center;
    justify-content: end;
    height: 100%;
    width: 37.5%;

    div {
        display: flex;
        align-items: center;
        padding-right: 1rem;
        
        a {
            text-decoration: none;
        }

        h2 {
            border-radius: 7.5px;
            color: #d4d4d4;
            background: linear-gradient(120deg, #00a9ff, #ff3ee5);
            border: 0.13rem solid #d4d4d4;
            padding: 0.1rem 0.4rem 0 0.4rem;
        }
    }
    
}